.git
.github
.gitignore
.gitattributes
.rubocop.yml
.byebug_history
.env
.env.*
!.env.example

docs/
log/*
tmp/*
storage/*
vendor/bundle
node_modules

test/
coverage/

config/master.key
config/credentials/*.key

Dockerfile
docker-compose.yml
.dockerignore
README.md
